body {
  background-color: #000;
  color: antiquewhite;

  header {
    max-width: 1110px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: auto;
    margin-right: auto;

    img {
      border-radius: 150px;
      width: 30%;
    }
  }
  hr {
    max-width: 1110px;
    margin-bottom: 20px;
  }

  main {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;

    section {
      background-color: rgb(31, 31, 28);
      padding: 20px;

      h1 {
        text-transform: uppercase;
        font-size: 40px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      }

      p {
        font-size: 10px;
        line-height: 24px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: justify;

        a {
          text-transform: uppercase;
          text-decoration: none;
          color: inherit;
          font-weight: 900;
          transition: color 0.5s ease-in-out;

          &:hover {
            color: rgb(124, 216, 240);
          }
        }
      }
    }
  }
  footer {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;

    p {
      font-size: 24px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }
}
