:root {
  --white: #fff;
  --black: #000;
  --red: #ee3d1b;
  --primary: #d52047;
}

html {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}
