:root {
  --white: #fff;
  --black: #000;
  --red: #ee3d1b;
  --primary: #ed4c5c;
}

html {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  font-size: 36px;
  font-weight: 600;
}
