@import './reset.css';
@import './global.css';

/* header section */
.header {
  min-height: 100vh;
  padding-top: 17px;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__inner {
  display: flex;
  flex-direction: column;
}

.header__nav-inner {
  height: 100px;
  padding: 33px 0;
  /* margin-top: 17px; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav section */
.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.nav__link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
}

.nav__link:hover {
}

.settings {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login {
  font-size: 14px;
  font-weight: 400;
  padding: 11px 28px;
  border: 1px solid #fff;
  border-radius: 8px;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.login:hover {
  color: var(--primary);
  background-color: var(--white);
}

/* title section */
.header__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 39px;
  /* проверить */
  height: 85vh;
}

.header__content-title {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
}

.header__content-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  color: var(--white);
  width: 540px;
}

.header__content-btn {
  padding: 16px 52px;
  background-color: var(--white);
  color: var(--primary);
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--white);
  transition: all 0.3s ease-in-out;
}

.header__content-btn:hover {
  color: var(--white);
  background-color: transparent;
}

/* info section */
.info__inner {
  padding: 94px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 125px;
}

.info__video-inner {
  position: relative;
}

.info__video {
  width: 500px;
  border-radius: 10px;
}

.info__video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66px;
  height: 66px;
  background-color: var(--primary);
  background-image: url(../img/play-icon.svg);
  background-repeat: no-repeat;
  background-position: 55% 50%;
  border-radius: 50%;
  border: none;
  padding: 0;
}

.info__text-title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 45px;
}

.info__text-description {
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 19px;
}

.info__text-link {
  font-size: 14px;
  line-height: 140%;
  color: var(--primary);
}

/* features section */
.features {
  background-color: #fafafa;
  padding: 63px 0 124px;
}

.features__title {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 63px;
}

.features__items {
  display: flex;
  justify-content: space-between;
}

.features__item {
  height: 355px;
  position: relative;
  text-align: center;
}

.features__item-box {
  width: 293px;
  position: absolute;
  bottom: 0;
  /* порахувати щоб було по центру*/
  left: 8%;
  background-color: var(--white);
  border-radius: 8px;
  padding: 33px 32px 25px;
}

.features__item-box-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #101010;
}

.features__item-box-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 26px;
  color: #101010;
}

.features__item-box-link {
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  color: var(--primary);
}
