@import './reset.css';
@import './global.css';

/* header section */
.header {
  min-height: 100vh;
  padding-top: 17px;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__inner {
  display: flex;
  flex-direction: column;
}

.header__nav-inner {
  height: 100px;
  padding: 33px 0;
  /* margin-top: 17px; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav section */
.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.nav__link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
}

.nav__link:hover {
}

.settings {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login {
  font-size: 14px;
  font-weight: 400;
  padding: 11px 28px;
  border: 1px solid #fff;
  border-radius: 8px;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.login:hover {
  color: var(--primary);
  background-color: var(--white);
}

/* title section */
.header__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 39px;
  /* проверить */
  height: 85vh;
}

.header__content-title {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
}

.header__content-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  color: var(--white);
  width: 540px;
}

.header__content-btn {
  padding: 16px 52px;
  background-color: var(--white);
  color: #ed4c5c;
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--white);
  transition: all 0.3s ease-in-out;
}

.header__content-btn:hover {
  color: var(--white);
  background-color: transparent;
}
