@import './reset.css';
@import './global.css';

/* header section */
.header {
  min-height: 100vh;
  padding-top: 17px;
  background-image: url(../img/header-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header__inner {
  display: flex;
  flex-direction: column;
}

.header__nav-inner {
  height: 100px;
  padding: 33px 0;
  /* margin-top: 17px; */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav section */
.nav__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.nav__link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
}

.nav__link:hover {
}

.settings {
  display: flex;
  align-items: center;
  gap: 20px;
}

.login {
  font-size: 14px;
  font-weight: 400;
  padding: 11px 28px;
  border: 1px solid #fff;
  border-radius: 8px;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.login:hover {
  color: var(--primary);
  background-color: var(--white);
}

/* title section */
.header__content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 39px;
  /* проверить */
  height: 85vh;
}

.header__content-title {
  font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white);
}

.header__content-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 150%;
  text-align: center;
  color: var(--white);
  width: 540px;
}

.header__content-btn {
  padding: 16px 52px;
  background-color: var(--white);
  color: var(--primary);
  border-radius: 8px;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid var(--white);
  transition: all 0.3s ease-in-out;
}

.header__content-btn:hover {
  color: var(--white);
  background-color: transparent;
}

/* info section */
.info__inner {
  padding: 94px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 125px;
}

.info__video-inner {
  position: relative;
}

.info__video {
  width: 500px;
  border-radius: 10px;
}

.info__video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 66px;
  height: 66px;
  background-color: var(--primary);
  background-image: url(../img/play-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 50%;
  border: none;
  padding: 0;
}

.info__text-title {
  margin-bottom: 45px;
}

.info__text-description {
  font-size: 14px;
  line-height: 140%;
  margin-bottom: 19px;
}

.info__text-link {
  font-size: 14px;
  line-height: 140%;
  color: var(--primary);
}

/* features section */
.features {
  background-color: #fafafa;
  padding: 63px 0 124px;
}

.features__title {
  text-align: center;
  margin-bottom: 63px;
}

.features__items {
  display: flex;
  justify-content: space-between;
}

.features__item {
  height: 355px;
  position: relative;
  text-align: center;
}

.features__item-box {
  width: 293px;
  position: absolute;
  bottom: 0;
  /* порахувати щоб було по центру */
  left: 8%;
  background-color: var(--white);
  border-radius: 8px;
  padding: 33px 32px 25px;
}

.features__item-box-title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #101010;
}

.features__item-box-text {
  font-size: 12px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 26px;
  color: #101010;
}

.features__item-box-link {
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  color: var(--primary);
}

/* technology section */
.tech {
  padding: 63px 0 104px;
}

.tech__title {
  text-align: center;
  margin-bottom: 90px;
}

.tech__items {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.tech__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.tech__item:first-child {
  gap: 0;
}

.tech__item:last-child {
  gap: 14px;
}

.tech__item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
  color: #101010;
}

.tech__item-title {
  font-size: 18px;
  font-weight: 700;
}

.tech__item-text {
  font-size: 12px;
  font-weight: 400;
  width: 195px;
}

/* app section */
.app {
  padding: 94px 0 95px;
  background-color: var(--primary);
}

.app__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__content {
  width: 450px;
}

.app__content-title {
  color: var(--white);
  margin-bottom: 24px;
}

.app__content-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 40px;
}

.app__content-box {
  display: flex;
  align-items: center;
  gap: 23px;
}

/* contact section */
.contact__inner {
  display: flex;
  justify-content: space-between;
  gap: 114px;
  padding: 117px 0 123px;
}

.contact__info-title {
  margin-bottom: 53px;
  color: var(--black);
  position: relative;
}

.contact__info-title::before {
  content: '';
  position: absolute;
  left: -3px;
  top: -28px;
  width: 100px;
  height: 100px;
  border: 2px dashed #000;
}

.contact__info-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: var(--black);
}

.contact__form {
  width: 540px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact__form-firstname,
.contact__form-lastname,
.contact__form-phone,
.contact__form-select {
  padding: 21px 31px;
  border: 1px solid #132743;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  color: #132743;
  outline: none;
}

.contact__form input:focus::placeholder {
  color: #e7e6e6;
}

.contact__form-box {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.contact__form-firstname,
.contact__form-lastname {
  width: 100%;
}

.contact__form-submit {
  width: fit-content;
  background-color: #ed4c5c;
  border: 1px solid #132743;
  border-radius: 6px;
  padding: 17px 34px;
  text-transform: uppercase;
  color: var(--white);
}

/* footer */
.footer {
  padding: 85px 0 86px;
  background-color: #fafafa;
}

.footer__menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 85px;
}

.footer__subtitle {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 33px;
}

.footer__service-title {
  margin-bottom: 28px;
}

.footer__address-text {
  font-size: 12px;
  line-height: 150%;
  color: var(--black);
}

.footer__service-link {
  font-size: 12px;
  line-height: 160%;
  color: var(--black);
}

.footer__info-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-bottom: 20px;
  font-size: 12px;
}

.footer__info-social {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 11px;
}

.copy__info {
  font-size: 12px;
}
