@import './reset.css';

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content {
  background-color: #e6eb8e;
  padding: 20px;
  border-radius: 10px;
}

input {
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.btn {
  text-align: center;
  background-color: #f5e320;
  padding: 5px;
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.textLogin,
.textPassword {
  font-size: 14px;
  text-transform: uppercase;
  color: #03413a;
}
