@import './reset.css';

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.content {
  background-color: #c2c1c1;
  padding: 20px;
  border-radius: 10px;
}

.btn {
  padding: 5px;
  text-align: center;
  background-color: #f2ae5b;
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
