@import './reset.css';

/* :root {
  color: #122c34;
  color: #0b4f6c;
  color: #297ba0;
  color: #006475;
  color: #4ba3d9;
  color: #6a989b;

  цвет градиента default left
  color: #575656;
  цвет градиента default right
  color: #0B3141;

  цвет градиента light left
  color:#D9F3FF
  цвет градиента light right
  color:#F9FDFF

  
  цвет градиента dark left
  color:#001317
  цвет градиента dark right
  color:#001D26

  цвет text
  color: #FFDFDB;
  цвет фона input
  color: #181A1A;
  цвет текст input
  color: #757575;
  цвет теми
  color: #001920;
  цвет кнопки go
  color: #F7E2DF;
  цвет кнопок виконано и удалено
  color: #909094;

  цвет активных кнопок виконано и удалено
  color: #949FA4;

  цвет фона задач
  color: #242F33;
  цвет текст задач
  color: #948D8F;

  цвет svg иконок
  color: #142025;
} */

/* global */
html,
body {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;

  /* display: flex;
  flex-direction: column; */
  transition: all 0.4s;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

/* style */
body {
  background: linear-gradient(to right, #575656, #0b3141);
  transition: all 0.5s ease;
}

body.light-mode {
  background: linear-gradient(to right, #d9f3ff, #f9fdff);
}

body.dark-mode {
  background: linear-gradient(to right, #001317, #001d26);
}

.header {
  padding: 30px 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.header__box {
  display: flex;
  gap: clamp(10px, 1.1vw, 15px);
}

.btn__default,
.btn__light,
.btn__dark {
  width: clamp(20px, 2.3vw, 30px);
  height: clamp(20px, 2.3vw, 30px);
  border-radius: 50%;
  cursor: pointer;
}

.btn__default {
  background: linear-gradient(to right, #575656, #0b3141);
  border: 1px solid #d9f3ff;
}

.btn__light {
  background: linear-gradient(to right, #d9f3ff, #f9fdff);
  border: 1px solid #001d26;
}

.btn__dark {
  background: linear-gradient(to right, #001317, #001d26);
  border: 1px solid #d9f3ff;
}

.title {
  position: relative;
  font-size: clamp(30px, 5vw, 70px);

  font-weight: 400;
  color: #ffdfdb;
  margin-bottom: clamp(15px, 4vw, 30px);
}

.light-mode .title {
  color: #122c34;
}

.title::before {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  content: '';
  width: 2px;
  height: clamp(30px, 5vw, 70px);
  background-color: #001317;
  /* transition: all .5s ease-in-out; */

  animation-name: cursor;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.dark-mode .title::before {
  background-color: #ffdfdb;
}

@keyframes cursor {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.search__inner {
  margin-bottom: clamp(10px, 2vw, 20px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  font-size: clamp(11px, 1.5vw, 14px);
  border-radius: 20px 0 0 20px;
  padding: 0.75rem;
  width: clamp(200px, 60vw, 450px);
  background-color: #181a1a;
  outline: none;
  color: #f7e2df;
  border: 1px solid transparent;
}

.light-mode .search {
  border: 1px solid #001d26;
  background-color: #d9f3ff;
  color: #122c34;
}

.dark-mode .search {
  border: 1px solid #d9f3ff;
  background-color: #001d26;
}

.search__button {
  font-size: clamp(11px, 1.5vw, 14px);
  border-radius: 0 20px 20px 0;
  padding: 0.75rem 0.5rem;
  width: clamp(80px, 10vw, 100px);
  background-color: #f7e2df;
  cursor: pointer;
  border: 1px solid transparent;
}

.light-mode .search__button {
  border: 1px solid #001d26;
  background-color: #b5e7ff;
}

.dark-mode .search__button {
  border: 1px solid #f7e2df;
  background-color: #001317;
  color: #f7e2df;
}

.data {
  margin: 10px 0;
}

.data__text {
  font-size: clamp(11px, 1.5vw, 14px);
  font-weight: 200;
  color: #f7e2df;
}

.light-mode .data__text {
  color: #122c34;
  font-weight: 300;
}

.todo__item {
  padding: 8px 20px;
  border-radius: clamp(20px, 3.5vw, 35px);
  background-color: #242f33;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: clamp(280px, 47vw, 450px);
  margin: 10px 0;
}

.light-mode .todo__item {
  border: 1px solid #001d26;
  background-color: #d9f3ff;
}

.dark-mode .todo__item {
  border: 1px solid #f7e2df;
  background-color: #001d26;
}

.todo__text {
  width: 70%;
  font-size: clamp(14px, 2vw, 20px);
  font-weight: 300;
  color: #948d8f;
}

.light-mode .todo__text {
  color: #001d26;
}

.dark-mode .todo__text {
  color: #f7e2df;
}

.button__box {
  display: flex;
  gap: 10px;
}

.todo__do,
.todo__delete {
  width: clamp(31px, 3vw, 40px);
  height: clamp(31px, 3vw, 40px);
  border-radius: 50%;
  background-color: #909094;
  border: none;
  cursor: pointer;

  svg {
    fill: #142025;
    transform: translateY(1px);
  }
}

.light-mode .todo__do,
.light-mode .todo__delete {
  background-color: #b5e7ff;
}
