@import './reset.css';

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.content {
  width: 245px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(186, 183, 183);
}

.btn,
.btn2 {
  width: 100%;
  height: 30px;
  background-color: #edbd3a;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

input {
  width: 100%;
}
