@import './reset.css';

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  width: 245px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(186, 183, 183);
}

.input {
  width: 100%;
  padding: 20px 10px;
  font-size: 40px;
  text-align: end;
  margin-bottom: 20px;
}

.btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  align-items: center;
  border-radius: 50%;
  background-color: #b8820d;
  color: white;
  font-size: 25px;
}

.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 5px;
}
